.idea/

# Arquivos locais — nunca commitar
.env.local
google_credentials.json
*.json.local
.venv
config/client_secret.json
config/token.json
config/ultimate-walker-393914-61a2d52d0388.json
CLAUDE.md
serverless.yaml